{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'social_media' %}">Clientes</a></li>
      <li class="breadcrumb-item active" aria-current="page">Adicionar Dados - Clientes</li>
    </ol>
  </nav>

{% include 'authentication/partials/_messages.html' %}

<h3>Adicionar Métrica de <strong>Rede Social</strong></h3>

<div class="py-2"></div>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
  <div class="card">
    <div class="card-body">
      <!--DATA-->
      <div class="form-group">
        <label for="date">Data</label>
        <input type="date" class="form-control" name="date">
      </div>
      <div class="py-2"></div>
      <div class="form-group">
        <label for="network">Rede Social</label>
        <input type="text" class="form-control" name="network">
      </div>
      <div class="py-2"></div>
      <div class="form-group">
        <label for="followers">Seguidores</label>
        <input type="number" class="form-control" name="followers">
      </div>
      <div class="py-2"></div>
      <div class="form-group">
        <label for="impressions">Impressões</label>
        <input type="number" class="form-control" name="impressions">
      </div>
      <div class="py-2"></div>
      <div class="form-group">
        <label for="reach">Alcance</label>
        <input type="number" class="form-control" name="reach">
      </div>
      <div class="py-2"></div>
      <div class="form-group">
        <label for="engagement">Engajamento</label>
        <input type="number" class="form-control" name="engagement">
      </div>
      <div class="py-2"></div>
      <div class="form-group">
        <label for="visits">Visitas ao Perfil</label>
        <input type="number" class="form-control" name="visits">
      </div>
      <div class="py-2"></div>
      <div class="form-group">
        <label for="notes">Visitas ao Perfil</label>
        <input type="text" class="form-control" name="notes">
      </div>
      <div class="py-2"></div>
      <div class="form-group text-center">
        <input type="submit" value="Enviar" class="btn btn-block btn-primary submit-btn" />
      </div>


    </div>
  </div>


</form>

{% endblock %}