{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'social_media' %}">Redes Sociais</a></li>
      <li class="breadcrumb-item active" aria-current="page">Adicionar Métrica - Redes Sociais</li>
    </ol>
  </nav>

{% include 'authentication/partials/_messages.html' %}

<h3>Adicionar Métrica de <strong>Rede Social</strong></h3>



{% endblock %}