{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="py-2"></div>
  <div class="row">
    <div class="col-md-9 align-items-center">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contratos</li>
          </ol>
        </nav>
    </div>

    {% include 'authentication/partials/_messages.html'%}

    <div>
      <h1 class="d-inline">Dados - <strong>Contratos</strong></h1><span></span>
      <a href="{% url 'add_contract_data' %}" class="btn btn-primary ms-5">Adicionar Dados</a>
    </div>
</div>


<div class="py-4"></div>

  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Setor</th>
        <th>Valor Total</th>
        <th>N° de Serviços</th>
        <th>Data</th>
        <th>Link</th>
        <th>Notas</th>
      </tr>
    </thead>
    <tbody>
      {% for contract in object_list %}
        <tr>
          <td><a href="{% url 'update_contract_data' pk=contract.pk %}">{{ contract.pk }}</a></td>
          <td>{{ contract.client_id.lead_id.first_name }} {{ contract.client_id.lead_id.last_name }}</td>
          <td>{{ contract.get_sector_display }}</td>
          <td>{{ contract.total_value }}</td>
          <td>{{ contract.n_of_services }}</td>
          <td>{{ contract.date }}</td>
          <td>{{ contract.link_of_contract }}</td>
          <td>{{ contract.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination justify-content-center">
    <ul class="pagination">
        {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
  
        <li class="page-item disabled">
            <span class="page-link">Página {{ items.number }} de {{ items.paginator.num_pages }}</span>
        </li>
  
        {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>

{% endblock %}