{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="py-3"></div>

{% include 'authentication/partials/_messages.html' %}

<h1>Dashboard</h1>

<body>
    <div style="width: 50%; margin: auto;">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <!-- Use a container div for better layout control -->
    <div id="lineChartContainer">
        <canvas id="lineChart"></canvas>
    </div>

    <script>
        Chart.register({
            id: 'pt-BR',
            options: {
                date: {
                    months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    weekdays: ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado']
                }
            }
        });
        // Fetch data from Django backend (you can use Django template tags to embed the data)
        var labels = [{% for contract in contracts %}"{{ contract.date|date:'Y-m-d' }}",{% endfor %}];
        var data = [{% for contract in contracts %}{{ contract.total_value }},{% endfor %}];
        console.log(Array(labels.length).fill({{ goal }}))
        // Use Chart.js to create a line chart
        var ctx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Faturamento Anual',
                    data: data,
                    fill: true,
                    borderColor: 'rgba(255, 128, 0, 1)',
                    borderWidth: 2
                },
                {
                    label: 'Meta Prevista',
                    data: Array(labels.length).fill({{ goal }}),
                    fill: false,
                    borderColor: 'rgba(255, 0, 0, 1)',
                    borderWidth: 2,
                    borderDash: [5, 5],  // Add a dashed border to distinguish the goal line
                    spanGaps: true,
                },]
                
                
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            tooltipFormat: 'YYYY-MM-DD',
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'top'
                }
            },
            locale: 'pt-BR' // Set the locale to Poruguese
               
        });
    </script>
</div>
<div class="py-3"></div>

<div class="container">
    <div class="row">
      <div class="col">
        <h5><strong>Faturamento de 2023:</strong> R${{ sum }}</h5>
      </div>
      <div class="col">
        <h5><strong>Projetos Vendidos:</strong> {{ projects_sold }}</h5>
      </div>
    </div>
</div>

<div class="py-3"></div>


<div class="container">
    <div class="row">
      <div class="col">
        <h5><strong>Cluster 2023:</strong> CLUSTER 3</h5>
      </div>
      <div class="col">
        <h5><strong>Membros Ativos:</strong> {{ active_members }}</h5>
      </div>
    </div>
</div>

</body>

{% endblock %}