{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="py-2"></div>
  <div class="row">
    <div class="col-md-9 align-items-center">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Serviços</li>
          </ol>
        </nav>
    </div>

    {% include 'authentication/partials/_messages.html'%}

    <div>
      <h1 class="d-inline">Dados - <strong>Serviços</strong></h1><span></span>
      <a href="{% url 'add_service_data' %}" class="btn btn-primary ms-5">Adicionar Dados</a>
    </div>
  </div>

  <div class="py-4"></div>

  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Membro</th>
        <th>Projeto</th>
        <th>Tempo Estimado</th>
        <th>Tempo Real</th>
        <th>N° de Consultores</th>
        <th>Preço</th>
        <th>Notas</th>
      </tr>
    </thead>
    <tbody>
      {% for service in object_list %}
        <tr>
          <td><a href="{% url 'update_service_data' pk=service.pk %}">{{ service.pk }}</a></td>
          <td>{{ service.client_id.first_name }} {{ service.client_id.last_name }}</td>
          <td>{{ service.member_id.first_name }} {{ service.member_id.last_name }}</td>
          <td>{{ service.get_project_display }}</td>
          <td>{{ service.estimated_time }}</td>
          <td>{{ service.actual_time }}</td>
          <td>{{ service.n_of_consultants }}</td>
          <td>{{ service.price }}</td>
          <td>{{ service.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



  <div class="py-3"></div>

  <body>
    <div style="width: 30%; margin: auto;">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <!-- Use a container div for better layout control -->
    <div id="donutChartContainer">
        <canvas id="donutChart"></canvas>
    <script>
      var data = {
          labels: ['Construção Civil', 'Tecnologia'],
          datasets: [{
              data: [{{ civilTotal }}, {{ tecTotal }}],
              backgroundColor: ['rgba(255, 128, 0, 0.8)', 'rgba(0, 153, 153, 0.8)'],
              hoverBackgroundColor: ['rgba(255, 178, 102, 1)', 'rgba(153, 255, 255, 1)'],
          }]
      };
  
      // Use Chart.js to create a donut chart
      var ctx = document.getElementById('donutChart').getContext('2d');
      var donutChart = new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
              cutout: '70%', // Adjust the cutout percentage for the donut hole
              plugins: {
                  legend: {
                      display: true,
                      position: 'top'
                  }
              }
          }
      });
  </script>
</div>
  </div>
</body>
  
{% endblock %}