{% extends 'dashboard/base.html' %}
{% load static %}

<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

{% block content %}

<div class="py-2"></div>


  <div class="row">
    <div class="col-md-9 align-items-center">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Redes Sociais</li>
          </ol>
        </nav>
    </div>

    {% include 'authentication/partials/_messages.html'%}

    <div>
      <h1 class="d-inline">Métricas - <strong>Redes Sociais</strong></h1><span></span>
      <a href="{% url 'add_sm_metric' %}" class="btn btn-primary ms-5">Adicionar Métrica</a>
    </div>
  </div>

  <div class="py-4"></div>

  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Data</th>
        <th>Rede Social</th>
        <th>Seguidores</th>
        <th>Impressões</th>
        <th>Alcance</th>
        <th>Engajamento</th>
        <th>Visitas</th>
        <th>Notas</th>
      </tr>
    </thead>
    <tbody>
      {% for metric in object_list %}
        <tr>
          <td><a href="{% url 'update_sm_metric' pk=metric.pk %}">{{ metric.date }}</a></td>
          <td>{{ metric.get_network_display }}</td>
          <td>{{ metric.followers }}</td>
          <td>{{ metric.impressions }}</td>
          <td>{{ metric.reach }}</td>
          <td>{{ metric.engagement }}</td>
          <td>{{ metric.visits }}</td>
          <td>{{ metric.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination justify-content-center">
    <ul class="pagination">
        {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
  
        <li class="page-item disabled">
            <span class="page-link">Página {{ items.number }} de {{ items.paginator.num_pages }}</span>
        </li>
  
        {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>

{% endblock %}