{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">Redes Sociais</li>
    </ol>
  </nav>


{% include 'authentication/partials/_messages.html' %}

<h1>Métricas - <strong>Redes Sociais</strong></h1>


  <a href="{% url 'add_sm_metric' %}" class="btn btn-primary">Adicionar Métrica</a>


{% endblock %}