{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'services' %}">Serviços</a></li>
      <li class="breadcrumb-item active" aria-current="page">Adicionar Dados - Serviço</li>
    </ol>
  </nav>

{% include 'authentication/partials/_messages.html' %}

<h3>Adicionar Dados de <strong>Serviço</strong></h3>

<div class="py-2"></div>
<form action="" method="POST">
  {% csrf_token %}
  <div class="card center">
    <div class="card-body text-center">
      {{ form.as_p }}
      <div class="form-group text-center">
        <input type="submit" value="Enviar" class="btn btn-block btn-primary submit-btn" />
      </div>
    </div>
  </div>
</form>

{% endblock %}