{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} - Campanhas{% endblock %}
{% block content %}

<div class="py-2"></div>
  <div class="row">
    <div class="col-md-9 align-items-center">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Campanhas</li>
          </ol>
        </nav>
    </div>

    {% include 'authentication/partials/_messages.html'%}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="d-inline">Métricas - <strong>Campanhas</strong></h1><span></span>
      <a href="{% url 'add_campaign_metric' %}" class="btn btn-primary ms-5">Adicionar Métrica</a>
    </div>
  </div>
  
  <div class="py-4"></div>

  <div class="container-fluid">
    <a href="{% url 'export_campaigns_csv' %}" class="btn btn-info">Exportar CSV</a>
    <form class="d-flex" role="search" style="width: 50%; float: right;">
      <input class="form-control me-2" type="text" placeholder="Pesquisar" id="searchField" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
    </form>
  </div>

  <div class="py-3"></div>

<div class="app-table">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Data</th>
        <th>Plataforma</th>
        <th>Setor</th>
        <th>Posição no Funil</th>
        <th>Cliques</th>
        <th>Custo Semanal (R$)</th>
      </tr>
    </thead>
    <tbody>
      {% for metric in object_list %}
        <tr>
          <td><a href="{% url 'update_campaign_metric' pk=metric.pk %}">{{ metric.date }}</a></td>
          <td>{{ metric.get_platform_display }}</td>
          <td>{{ metric.get_campaign_sector_display }}</td>
          <td>{{ metric.get_funnel_position_display }}</td>
          <td>{{ metric.clicks }}</td>
          <td>{{ metric.weekly_cost }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="table-output">
  <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>Data</th>
          <th>Plataforma</th>
          <th>Setor</th>
          <th>Posição no Funil</th>
          <th>Cliques</th>
          <th>Custo Semanal (R$)</th>
        </tr>
      </thead>
      <tbody class="table-body">
          
      </tbody>
    </table>
</div>

<div class="pagination-container">
  <div class="pagination justify-content-center">
    <ul class="pagination">
        {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
  
        <li class="page-item disabled">
            <span class="page-link">Página {{ items.number }} de {{ items.paginator.num_pages }}</span>
        </li>
  
        {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
</div>

  <script src={% static 'js/campaignSearchBar.js' %}></script>
  <script>
      const updateCampaignUrl = "{% url 'update_campaign_metric' pk='PLACEHOLDER' %}";
  </script>

  <div class="py-3"></div>

  <div class="grey-bg container-fluid">
    <section id="minimal-statistics">
      <div class="row">
        
        <div class="col-xl-3 col-sm-6 col-12"> 
          <div class="card orange-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h2><strong>R${{cpc}}</strong></h2>
                    <span class="text-enlarge">CPC Geral</span>
                    <span class="text-enlarge">(Custo por Clique)</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#ff9933"><use xlink:href="#mouse"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 col-12"> 
            <div class="card purple-stat-card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="media-body text-left">
                      <h2><strong>{{conversion}}%</strong></h2>
                      <span class="text-enlarge">Taxa de Conversão Média</span>
                    </div>
                    <div class="align-self-center">
                      <svg class="shine-effect" fill="#4c0099"><use xlink:href="#next"/></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12">
          <div class="card blue-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h2><strong>{{most_efficient_platform}}</strong></h2>
                    <span class="text-enlarge">Plataforma Mais Eficiente</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#2c7ac9"><use xlink:href="#up"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12">
        <div class="card red-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h2><strong>R${{avg_weekly_cost}}</strong></h2>
                    <span class="text-enlarge">Custo Semanal Médio</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#cc0000"><use xlink:href="#money"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="py-3"></div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card cyan-bordered-card">
          <div class="card-body text-center">
            <h3><strong>Cliques por Tempo</strong></h3>
            <div class="py-2"></div>
            <canvas id="clicksOverTime" width="400" height="200"></canvas>
          </div>
        </div>
    </div>

    <div class="col-lg-6">
      <div class="card cyan-bordered-card">
          <div class="card-body text-center">
              <h3><strong>Taxa de Conversão por Tempo</strong></h3>
              <div class="py-2"></div>
              <canvas id="conversionRateOverTime" width="400" height="200"></canvas>
            </div>
          </div>
          </div>
  </div>

  <div class="py-4"></div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card cyan-bordered-card">
            <div class="card-body">
                <div class="text-center">
                <h3><strong>CPC Por Tempo</strong></h3>
                <canvas id="cpcOverTime"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="py-4"></div>


<script>
  var data = {
      labels: ["Jan", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
      datasets: [
            {
              label: "Google Ads",
              data: {{google_clicks_over_time}},
              borderColor: 'rgba(75, 192, 128, 1)',
              fill: false
          },
          {
              label: "Facebook Ads",
              data: {{fb_clicks_over_time}},
              borderColor: 'rgba(75, 192, 192, 1)',
              fill: false
          },
      ]
  };

  var ctx = document.getElementById('clicksOverTime').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          responsive: true,
          interaction: {
            intersect: false,
          },
          scales: {
              x: {
                  type: 'category', 
                  position: 'bottom'
              },
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>

<script>
  var data = {
      labels: ["Jan", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
      datasets: [
            {
              label: "Google Ads",
              data: {{google_conversion_rate_over_time}},
              borderColor: 'rgba(102, 0, 204, 1)',
              fill: false
          },
          {
              label: "Facebook Ads",
              data: {{fb_conversion_rate_over_time}},
              borderColor: 'rgba(0, 0, 204, 1)',
              fill: false
          },
      ]
  };

  var ctx = document.getElementById('conversionRateOverTime').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          responsive: true,
          interaction: {
            intersect: false,
          },
          scales: {
              x: {
                  type: 'category', 
                  position: 'bottom'
              },
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>

<script>
  var data = {
      labels: ["Jan", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
      datasets: [
            {
              label: "Google Ads",
              data: {{google_cpc_over_time}},
              borderColor: 'rgba(102, 0, 204, 1)',
              fill: false
          },
          {
              label: "Facebook Ads",
              data: {{fb_cpc_over_time}},
              borderColor: 'rgba(0, 0, 204, 1)',
              fill: false
          },
      ]
  };

  var ctx = document.getElementById('cpcOverTime').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          responsive: true,
          interaction: {
            intersect: false,
          },
          scales: {
              x: {
                  type: 'category', 
                  position: 'bottom'
              },
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endblock %}