{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} - Contratos{% endblock %}
{% block content %}

<div class="py-2"></div>
  <div class="row">
    <div class="col-md-9 align-items-center">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contratos</li>
          </ol>
        </nav>
    </div>

    {% include 'authentication/partials/_messages.html'%}

    <div>
      <h1 class="d-inline">Dados - <strong>Contratos</strong></h1><span></span>
      <a href="{% url 'add_contract_data' %}" class="btn btn-primary ms-5">Adicionar Dados</a>
    </div>
</div>

<div class="py-4"></div>

<div class="container-fluid">
  <a href="{% url 'export_contracts_csv' %}" class="btn btn-info">Exportar CSV</a>
  <form class="d-flex" role="search" style="width: 50%; float: right;">
    <input class="form-control me-2" type="text" placeholder="Pesquisar" id="searchField" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
  </form>
</div>

<div class="py-3"></div>

<div class="app-table">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Setor</th>
        <th>Valor Total</th>
        <th>N° de Serviços</th>
        <th>Data</th>
        <th>Link</th>
        <th>Notas</th>
      </tr>
    </thead>
    <tbody>
      {% for contract in object_list %}
        <tr>
          <td><a href="{% url 'update_contract_data' pk=contract.pk %}">{{ contract.pk }}</a></td>
          <td>{{ contract.client_id.lead_id.first_name }} {{ contract.client_id.lead_id.last_name }}</td>
          <td>{{ contract.get_sector_display }}</td>
          <td>{{ contract.total_value }}</td>
          <td>{{ contract.n_of_services }}</td>
          <td>{{ contract.date }}</td>
          <td>{{ contract.link_of_contract }}</td>
          <td>{{ contract.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="table-output">
  <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Cliente</th>
          <th>Setor</th>
          <th>Valor Total</th>
          <th>N° de Serviços</th>
          <th>Data</th>
          <th>Link</th>
          <th>Notas</th>
        </tr>
      </thead>
      <tbody class="table-body">
          
      </tbody>
    </table>
</div>

<div class="pagination-container">
  <div class="pagination justify-content-center">
    <ul class="pagination">
        {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
  
        <li class="page-item disabled">
            <span class="page-link">Página {{ items.number }} de {{ items.paginator.num_pages }}</span>
        </li>
  
        {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
</div>

  <script src={% static 'js/contractSearchBar.js' %}></script>
  <script>
      const updateContractUrl = "{% url 'update_contract_data' pk='PLACEHOLDER' %}";
  </script>

  <div class="grey-bg container-fluid">
    <section id="minimal-statistics">
      <div class="row">
        
        <div class="col-xl-3 col-sm-6 col-12"> 
          <div class="card green-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h4><strong>R${{avg_ticket}}</strong></h4>
                    <span class="text-enlarge">Ticket Médio</span>
                    <h6>Geral</h6>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#00cc00"><use xlink:href="#money"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 col-12"> 
            <div class="card blue-stat-card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="media-body text-left">
                      <h4><strong>R${{tec_avg_ticket}}</strong></h4>
                      <span class="text-enlarge">Ticket Médio</span>
                      <h6>Tecnologia</h6>
                    </div>
                    <div class="align-self-center">
                      <svg class="shine-effect" fill="#2c7ac9"><use xlink:href="#code"/></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-xl-3 col-sm-6 col-12">
          <div class="card orange-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h4><strong>R${{civ_avg_ticket}}</strong></h4>
                    <span class="text-enlarge">Ticket Médio</span>
                    <h6>Civil</h6>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#ff9933"><use xlink:href="#building"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-xl-3 col-sm-6 col-12">
        <div class="card purple-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h4><strong>R${{con_avg_ticket}}</strong></h4>
                    <span class="text-enlarge">Ticket Médio</span>
                    <h6>Consul</h6>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#4c0099"><use xlink:href="#consul"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="py-3"></div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card blue-bordered-card">
            <div class="card-body">
                <div class="text-center">
                <h3><strong>Ticket Médio por Tempo</strong></h3>
                <canvas id="ticketOverTime"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

  <script>
    var data = {
        labels: ["Jan", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
        datasets: [
              {
                label: "Geral",
                data: {{contract_ticket_over_time}},
                borderColor: 'rgba(75, 192, 128, 1)',
                fill: false
            },
            {
                label: "Tecnologia",
                data: {{tec_contract_ticket_over_time}},
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false
            },
            {
                label: "Civil",
                data: {{civ_contract_ticket_over_time}},
                borderColor: 'rgba(255, 99, 132, 1)',
                fill: false
            },
            {
                label: "Consultoria",
                data: {{con_contract_ticket_over_time}},
                borderColor: 'rgba(54, 162, 235, 1)',
                fill: false
            }
        ]
    };

    var ctx = document.getElementById('ticketOverTime').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            interaction: {
              intersect: false,
            },
            scales: {
                x: {
                    type: 'category', 
                    position: 'bottom'
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}