{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} - Home{% endblock %}
{% block content %}
<div class="py-3"></div>

{% include 'authentication/partials/_messages.html' %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>

<h1>Overview de {{ current_year }}</h1>

<div class="py-2"></div>
<body>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card orange-bordered-card">
            <div class="card-body">
                <div class="text-center">
                <h3><strong>Faturamento</strong></h3>
                <canvas id="lineChart"></canvas>
                <div class="py-4"></div>
                <h4>A meta de faturamento prevista</h4>
                <h4>para {{current_year}} é <strong>R$96.000</strong> reais.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="card orange-bordered-card">
        <div class="card-body">
            <div class="card-body d-flex justify-content-center align-items-center">
            <div>
                <h3><strong>Faturamento Por Diretoria</strong></h3>
                <canvas id="donutChart"></canvas>
            </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
    </div>


    <div class="py-3"></div>

<div class="grey-bg container-fluid">
    <section id="minimal-statistics">
      <div class="row">
        
        <div class="col-xl-3 col-sm-6 col-12"> 
          <div class="card blue-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h2><strong>{{projects_sold}}</strong></h2>
                    <span class="text-enlarge">Projetos Vendidos</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#2c7ac9"><use xlink:href="#check"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 col-12"> 
            <div class="card orange-stat-card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="media-body text-left">
                      <h2><strong>{{active_members}}</strong></h2>
                      <span class="text-enlarge">Membros Ativos</span>
                    </div>
                    <div class="align-self-center">
                      <svg class="shine-effect" fill="#ff9933"><use xlink:href="#people"/></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12">
          <div class="card green-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h2><strong>{{total_leads}}</strong></h2>
                    <span class="text-enlarge">Leads Obtidos</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#00cc00"><use xlink:href="#person"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12">
        <div class="card red-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h2><strong>3</strong></h2>
                    <span class="text-enlarge">Cluster Atual</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#cc0000"><use xlink:href="#up"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <div class="py-3"></div>
</body>

<script>
    Chart.register({
        id: 'pt-BR',
        options: {
            date: {
                months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                weekdays: ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado']
            }
        }
    });
    var labels = ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', 
    '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01', 
    '2023-10-01', '2023-11-01', '2023-12-01']
    var data = {{revenue}};
    var goal = {{ goal }};
    

    var goalArray = [];
    for (var i = 0; i < 12; i++) {
        goalArray.push((i + 1) * goal);
    }

    var ctx = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Faturamento Anual',
                data: data,
                fill: true,
                borderColor: 'rgba(255, 128, 0, 1)',
                borderWidth: 2
            },
            {
                label: 'Meta Prevista',
                data: goalArray,
                fill: false,
                borderColor: 'rgba(0, 51, 51, 1)',
                borderWidth: 2,
                borderDash: [5, 5],  // Add a dashed border to distinguish the goal line
                spanGaps: true,
            },]
            
            
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month',
                        tooltipFormat: 'yyyy-mm-dd',
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        },
        plugins: {
            legend: {
                display: true,
                position: 'top'
            }
        },
           
    });
</script>

<script>
var data = {
  labels: ['Tecnologia', 'Construção Civil', 'Consultoria'],
  datasets: [{
      data: {{ revenue_per_sector }},
      backgroundColor: ['rgba(0, 153, 153, 0.7)','rgba(255, 128, 0, 0.7)', 'rgba(0, 102, 102, 0.7)'],
      hoverBackgroundColor: ['rgba(153, 255, 255, 0.7)','rgba(255, 178, 102, 0.7)', 'rgba(0, 255, 255, 0.7)'],
  }]
};

// Use Chart.js to create a donut chart
var ctx = document.getElementById('donutChart').getContext('2d');
var donutChart = new Chart(ctx, {
  type: 'doughnut',
  data: data,
  options: {
      cutout: '70%', // Adjust the cutout percentage for the donut hole
      plugins: {
          legend: {
              display: true,
              position: 'top'
          }
      }
  }
});
</script>


{% endblock %}