{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<style>
    .gradient-text-1
    {
        background-image: linear-gradient(
                to right,
                #000077 0%,
                #1111FF 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    .big-label {
        font-size: 18px;
    }

    .dashed {
        position: relative;
        display: inline-block;
    }
    
    .dashed::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1em;
        width: 100%;
        border-bottom: 1px dashed #000;
    }    
    
</style>

<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'leads' %}">Leads</a></li>
      <li class="breadcrumb-item active" aria-current="page">Detalhes - Lead</li>
    </ol>
  </nav>

{% include 'authentication/partials/_messages.html' %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h3 class="d-inline"><strong>Lead:</strong> {{ lead.first_name }} {{ lead.last_name }}, de {{lead.get_sector_display}}</h3>
  <div class="btn-group" role="group">
    <a href="{% url 'update_lead' pk=object.pk %}" class="btn btn-outline-primary" role="btn">Atualizar</a>
    <a href="{% url 'delete_lead' pk=object.pk %}" class="btn btn-outline-danger" role="btn">Deletar</a>
  </div>
</div>

<div class="py-2"></div>

            <div class="card" style="background: linear-gradient(to bottom, rgba(224, 224, 255, 0.8) 0%, rgba(204, 204, 255, 0.8) 50%, rgba(0, 0, 204, 0.2) 100%);">
            <div style="margin: 30px;">
                <div style="margin: 15px;">
                    <h3 class="gradient-text-1"><strong>Dados Gerais:</strong></h3>
                    <div class="py-2"></div>
                    <div class="row border-bottom">
                        <div class="col">
                    
                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#identification"/></svg>Nome:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.first_name}} {{lead.last_name}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#coffee"/></svg>Setor:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.get_sector_display}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#gender-neutral"/></svg>Sexo:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.get_gender_display}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#funnel"/></svg>Status no Funil:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.get_status_display}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#target"/></svg>Origem do Lead:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.get_source_display}}</span>

                        </div>


                        <div class="col">
                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#mail"/></svg>E-mail:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.email}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#phone"/></svg>Telefone:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.phone}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#suitcase"/></svg>Área de Atuação:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.field_of_action}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#calendar3"/></svg>Data de Chegada:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.date}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#sticky-note"/></svg>Notas:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.notes}}</span>

                        </div>
                        <div class="py-3"></div>
                    </div>
                    <div class="py-3"></div>

                    <h3 class="gradient-text-1"><strong>Lead Scoring: ({{lead.score}})</strong></h3>
                    <div class="py-2"></div>
                    <div class="row">
                        <div class="col">
                    
                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#money"/></svg>Orçamento:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.budget}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#index-finger"/></svg>Autoridade:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.authority}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#realization"/></svg>Necessidade:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.need}}</span>

                        </div>


                        <div class="col">
                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#hourglass"/></svg>Timing:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.timing}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#watch"/></svg>Tempo de Resposta:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.time_to_respond}}</span>

                            <div class="py-3"></div>

                            <h5 class="big-label"><strong><svg class="bi pe-none me-2" style="width: 20px; height: 20px; horizontal-align: middle;"><use xlink:href="#smiley"/></svg>Comportamento:</strong></h5>
                            <div class="py-1"></div>
                            <span class="dashed">{{lead.behavior}}</span>

                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>

    <div class="py-2"></div>
</div>
</div>

{% endblock %}