{% extends 'dashboard/base.html' %}
{% load static %}

<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

{% block content %}

<div class="py-2"></div>


  <div class="row">
    <div class="col-md-9 align-items-center">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Redes Sociais</li>
          </ol>
        </nav>
    </div>

    {% include 'authentication/partials/_messages.html'%}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="d-inline">Métricas - <strong>Redes Sociais</strong></h1><span></span>
      <a href="{% url 'add_sm_metric' %}" class="btn btn-primary ms-5">Adicionar Métrica</a>
    </div>
  </div>

  <div class="py-4"></div>

  <div class="container-fluid">
    <a href="{% url 'export_sm_metrics_csv' %}" class="btn btn-info exclude-loading-overlay">Exportar CSV</a>
    <form class="d-flex" role="search" style="width: 50%; float: right;">
      <input class="form-control me-2" type="text" placeholder="Pesquisar" id="searchField" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
    </form>
  </div>

  <div class="py-3"></div>

<div class="app-table">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Data</th>
        <th>Rede Social</th>
        <th>Seguidores</th>
        <th>Impressões</th>
        <th>Alcance</th>
        <th>Engajamento</th>
      </tr>
    </thead>
    <tbody>
      {% for metric in object_list %}
        <tr>
          <td><a href="{% url 'update_sm_metric' pk=metric.pk %}">{{ metric.date }}</a></td>
          <td>{{ metric.get_network_display }}</td>
          <td>{{ metric.followers }}</td>
          <td>{{ metric.impressions }}</td>
          <td>{{ metric.reach }}</td>
          <td>{{ metric.engagement }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="table-output">
  <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>Data</th>
          <th>Rede Social</th>
          <th>Seguidores</th>
          <th>Impressões</th>
          <th>Alcance</th>
          <th>Engajamento</th>
        </tr>
      </thead>
      <tbody class="table-body">
          
      </tbody>
    </table>
</div>

<div class="pagination-container">
  <div class="pagination justify-content-center">
    <ul class="pagination">
        {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
  
        <li class="page-item disabled">
            <span class="page-link">Página {{ items.number }} de {{ items.paginator.num_pages }}</span>
        </li>
  
        {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ items.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
</div>

  <script src={% static 'js/metricSearchBar.js' %}></script>
  <script>
      const updateSMUrl = "{% url 'update_sm_metric' pk='PLACEHOLDER' %}";
  </script>

  <div class="py-3"></div>

  <div class="grey-bg container-fluid">
    <section id="minimal-statistics">
      <div class="row">
        
        <div class="col-xl-3 col-sm-6 col-12"> 
          <div class="card blue-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3><strong>{{total_followers}}</strong></h3>
                    <span class="text-enlarge">Total de Seguidores</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#2c7ac9"><use xlink:href="#people"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 col-12"> 
            <div class="card purple-stat-card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="media-body text-left">
                      <h3><strong>{{social_media_growth}}%</strong></h3>
                      <span class="text-enlarge">Crescimento das Redes</span>
                    </div>
                    <div class="align-self-center">
                      <svg class="shine-effect" fill="#4c0099"><use xlink:href="#graph-up"/></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-xl-3 col-sm-6 col-12">
          <div class="card green-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3><strong>{{mean_engagement}}</strong></h3>
                    <span class="text-enlarge">Engajamento Médio</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#00cc00"><use xlink:href="#thumbs-up"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-xl-3 col-sm-6 col-12">
        <div class="card red-stat-card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3><strong>{{most_impact_network}}</strong></h3>
                    <span class="text-enlarge">Rede de Maior Alcance</span>
                  </div>
                  <div class="align-self-center">
                    <svg class="shine-effect" fill="#cc0000"><use xlink:href="#fire"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="py-3"></div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card purple-bordered-card">
          <div class="card-body text-center">
            <h3><strong>Engajamento por Tempo</strong></h3>
            <div class="py-2"></div>
            <canvas id="engagementOverTime" width="400" height="200"></canvas>
          </div>
        </div>
    </div>

    <div class="col-lg-6">
      <div class="card purple-bordered-card">
          <div class="card-body text-center">
              <h3><strong>Alcance por Tempo</strong></h3>
              <div class="py-2"></div>
              <canvas id="reachOverTime" width="400" height="200"></canvas>
            </div>
          </div>
          </div>
  </div>

  <div class="py-4"></div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card cyan-bordered-card">
            <div class="card-body">
                <div class="text-center">
                <h3><strong>Seguidores Por Tempo</strong></h3>
                <canvas id="followersOverTime"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="py-4"></div>


<script>
  var data = {
      labels: ["Jan", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
      datasets: [
                {
                  label: "Instagram",
                  data: {{ig_engagement_over_time}},
                  borderColor: 'rgba(153, 0, 153, 1)',
                  fill: false
              },
              {
                  label: "Facebook",
                  data: {{face_engagement_over_time}},
                  borderColor: 'rgba(0, 0, 204, 1)',
                  fill: false
              },
              {
                label: "LinkedIn",
                data: {{linkedin_engagement_over_time}},
                borderColor: 'rgba(102, 0, 204, 1)',
                fill: false
            },
            {
                label: "TikTok",
                data: {{tiktok_engagement_over_time}},
                borderColor: 'rgba(0, 76, 153, 1)',
                fill: false
            },
          
      ]
  };

  var ctx = document.getElementById('engagementOverTime').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          responsive: true,
          interaction: {
            intersect: false,
          },
          scales: {
              x: {
                  type: 'category', 
                  position: 'bottom'
              },
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>

<script>
  var data = {
      labels: ["Jan", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
      datasets: [
            {
              label: "Instagram",
              data: {{ig_reach_over_time}},
              borderColor: 'rgba(153, 0, 153, 1)',
              fill: false
          },
          {
              label: "Facebook",
              data: {{face_reach_over_time}},
              borderColor: 'rgba(0, 0, 204, 1)',
              fill: false
          },
          {
            label: "LinkedIn",
            data: {{linkedin_reach_over_time}},
            borderColor: 'rgba(102, 0, 204, 1)',
            fill: false
        },
        {
            label: "TikTok",
            data: {{tiktok_reach_over_time}},
            borderColor: 'rgba(0, 76, 153, 1)',
            fill: false
        },
      ]
  };

  var ctx = document.getElementById('reachOverTime').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          responsive: true,
          interaction: {
            intersect: false,
          },
          scales: {
              x: {
                  type: 'category', 
                  position: 'bottom'
              },
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>

<script>
  var data = {
      labels: ["Jan", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
      datasets: [
            {
              label: "Instagram",
              data: {{ig_followers_over_time}},
              borderColor: 'rgba(153, 0, 153, 1)',
              fill: false
          },
            {
                label: "Facebook",
                data: {{face_followers_over_time}},
                borderColor: 'rgba(0, 0, 204, 1)',
                fill: false
            },
            {
              label: "LinkedIn",
              data: {{linkedin_followers_over_time}},
              borderColor: 'rgba(102, 0, 204, 1)',
              fill: false
          },
          {
              label: "TikTok",
              data: {{tiktok_followers_over_time}},
              borderColor: 'rgba(0, 76, 153, 1)',
              fill: false
          },
      ]
  };

  var ctx = document.getElementById('followersOverTime').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          responsive: true,
          interaction: {
            intersect: false,
          },
          scales: {
              x: {
                  type: 'category', 
                  position: 'bottom'
              },
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>

{% endblock %}