{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'social_media' %}">Redes Sociais</a></li>
      <li class="breadcrumb-item active" aria-current="page">Atualizar Métrica - Redes Sociais</li>
    </ol>
  </nav>

{% include 'authentication/partials/_messages.html' %}

<div>
  <h3 class="d-inline">Atualizar Métrica de <strong>Rede Social</strong></h3>
  <a href="{% url 'delete_sm_metric' pk=object.pk %}" class="btn btn-danger ms-5">Deletar Registro</a>
</div>

<div class="py-2"></div>

<form action="" method="POST">
  {% csrf_token %}
  <div class="card center">
    <div class="card-body text-center">
      {{ form.as_p }}
      <div class="form-group text-center">
        <input type="submit" value="Enviar" class="btn btn-block btn-primary submit-btn" />
      </div>
    </div>
  </div>
</form>

{% endblock %}