{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'leads' %}">Leads</a></li>
      <li class="breadcrumb-item active" aria-current="page">Atualizar Diagnóstico</li>
    </ol>
  </nav>

{% include 'authentication/partials/_messages.html' %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h3>Atualizar <strong>Diagnóstico</strong></h3>
  <a href="{% url 'delete_diagnostic' pk=diagnostic.pk %}" class="btn btn-outline-danger ms-5">Deletar Diagnóstico</a>
</div>

<div class="py-2"></div>

<div class="card" style="background: linear-gradient(to bottom, rgba(245, 245, 245, 0.80) 0%, rgba(210, 210, 225, 0.9) 100%);">
  <form action="{% url 'update_diagnostic' pk=diagnostic.pk %}" method="POST" style="margin: 45px;">
      {% csrf_token %}

      <label for="leadDataList" class="form-label">Lead</label>
      <input class="form-control" list="leadOptions" id="leadDataList" placeholder="Digite para pesquisar..." oninput="setLeadId(this.value)">
      <input type="hidden" id="leadId" name="lead_id">
      <datalist id="leadOptions">
        {% for lead in leads %}
          <option data-value="{{lead.id}}" value="{{lead.first_name}} {{lead.last_name}}"></option>
        {% endfor %}
      </datalist>

      <script>
      function setLeadId(value) {
        var options = document.querySelectorAll('#leadOptions option');
        for (var i = 0; i < options.length; i++) {
          if (options[i].value === value) {
            document.getElementById('leadId').value = options[i].dataset.value;
            break;
          }
        }
      }
      </script>

      <div class="py-2"></div>

      <div class="row g-3">
        <div class="col">
          <div class="form-group">
            <label for="budget" class="form-label"><strong>Orçamento do Lead</strong></label>
            <select id="budget" name="budget" class="form-control form-select" required>
                <option>"O Lead tem capital para investir?"</option>
                <option value="1" {% if form.budget.value == 1 %} selected {% endif %}>1</option>
                <option value="2" {% if form.budget.value == 2 %} selected {% endif %}>2</option>
                <option value="3" {% if form.budget.value == 3 %} selected {% endif %}>3</option>
                <option value="4" {% if form.budget.value == 4 %} selected {% endif %}>4</option>
                <option value="5" {% if form.budget.value == 5 %} selected {% endif %}>5</option>
                <option value="6" {% if form.budget.value == 6 %} selected {% endif %}>6</option>
                <option value="7" {% if form.budget.value == 7 %} selected {% endif %}>7</option>
                <option value="8" {% if form.budget.value == 8 %} selected {% endif %}>8</option>
                <option value="9" {% if form.budget.value == 9 %} selected {% endif %}>9</option>
                <option value="10" {% if form.budget.value == 10 %} selected {% endif %}>10</option>
            </select>
          </div>
        </div>

          <div class="col">
            <div class="form-group">
              <label for="authority" class="form-label"><strong>Autoridade do Lead</strong></label>
              <select id="authority" name="authority" class="form-control form-select" required>
                  <option>"O Lead é o tomador de decisão?"</option>
                  <option value="1" {% if form.authority.value == 1 %} selected {% endif %}>1</option>
                <option value="2" {% if form.authority.value == 2 %} selected {% endif %}>2</option>
                <option value="3" {% if form.authority.value == 3 %} selected {% endif %}>3</option>
                <option value="4" {% if form.authority.value == 4 %} selected {% endif %}>4</option>
                <option value="5" {% if form.authority.value == 5 %} selected {% endif %}>5</option>
                <option value="6" {% if form.authority.value == 6 %} selected {% endif %}>6</option>
                <option value="7" {% if form.authority.value == 7 %} selected {% endif %}>7</option>
                <option value="8" {% if form.authority.value == 8 %} selected {% endif %}>8</option>
                <option value="9" {% if form.authority.value == 9 %} selected {% endif %}>9</option>
                <option value="10" {% if form.authority.value == 10 %} selected {% endif %}>10</option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="need" class="form-label"><strong>Necessidade do Lead</strong></label>
              <select id="need" name="need" class="form-control form-select" required>
                  <option>"O Lead realmente precisa da solução para resolver a dor?"</option>
                <option value="1" {% if form.need.value == 1 %} selected {% endif %}>1</option>
                <option value="2" {% if form.need.value == 2 %} selected {% endif %}>2</option>
                <option value="3" {% if form.need.value == 3 %} selected {% endif %}>3</option>
                <option value="4" {% if form.need.value == 4 %} selected {% endif %}>4</option>
                <option value="5" {% if form.need.value == 5 %} selected {% endif %}>5</option>
                <option value="6" {% if form.need.value == 6 %} selected {% endif %}>6</option>
                <option value="7" {% if form.need.value == 7 %} selected {% endif %}>7</option>
                <option value="8" {% if form.need.value == 8 %} selected {% endif %}>8</option>
                <option value="9" {% if form.need.value == 9 %} selected {% endif %}>9</option>
                <option value="10" {% if form.need.value == 10 %} selected {% endif %}>10</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row g-3">
          <div class="col">
            <div class="form-group">
              <label for="timing" class="form-label"><strong>Timing do Lead</strong></label>
              <select id="timing" name="timing" class="form-control form-select" required>
                  <option>"O Lead tem data para adquirir a solução?"</option>
                    <option value="1" {% if form.timing.value == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if form.timing.value == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if form.timing.value == 3 %} selected {% endif %}>3</option>
                    <option value="4" {% if form.timing.value == 4 %} selected {% endif %}>4</option>
                    <option value="5" {% if form.timing.value == 5 %} selected {% endif %}>5</option>
                    <option value="6" {% if form.timing.value == 6 %} selected {% endif %}>6</option>
                    <option value="7" {% if form.timing.value == 7 %} selected {% endif %}>7</option>
                    <option value="8" {% if form.timing.value == 8 %} selected {% endif %}>8</option>
                    <option value="9" {% if form.timing.value == 9 %} selected {% endif %}>9</option>
                    <option value="10" {% if form.timing.value == 10 %} selected {% endif %}>10</option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="time_to_respond" class="form-label"><strong>Tempo de Resposta do Lead</strong></label>
              <select id="time_to_respond" name="time_to_respond" class="form-control form-select" required>
                  <option>"O Lead responde rapidamente?"</option>
                  <option value="1" {% if form.time_to_respond == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if form.time_to_respond.value == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if form.time_to_respond.value == 3 %} selected {% endif %}>3</option>
                    <option value="4" {% if form.time_to_respond.value == 4 %} selected {% endif %}>4</option>
                    <option value="5" {% if form.time_to_respond.value == 5 %} selected {% endif %}>5</option>
                    <option value="6" {% if form.time_to_respond.value == 6 %} selected {% endif %}>6</option>
                    <option value="7" {% if form.time_to_respond.value == 7 %} selected {% endif %}>7</option>
                    <option value="8" {% if form.time_to_respond.value == 8 %} selected {% endif %}>8</option>
                    <option value="9" {% if form.time_to_respond.value == 9 %} selected {% endif %}>9</option>
                    <option value="10" {% if form.time_to_respond.value == 10 %} selected {% endif %}>10</option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="behavior" class="form-label"><strong>Comportamento do Lead</strong></label>
              <select id="behavior" name="behavior" class="form-control form-select" required>
                  <option>"O Lead responde educadamente?"</option>
                    <option value="1" {% if form.behavior.value == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if form.behavior.value == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if form.behavior.value == 3 %} selected {% endif %}>3</option>
                    <option value="4" {% if form.behavior.value == 4 %} selected {% endif %}>4</option>
                    <option value="5" {% if form.behavior.value == 5 %} selected {% endif %}>5</option>
                    <option value="6" {% if form.behavior.value == 6 %} selected {% endif %}>6</option>
                    <option value="7" {% if form.behavior.value == 7 %} selected {% endif %}>7</option>
                    <option value="8" {% if form.behavior.value == 8 %} selected {% endif %}>8</option>
                    <option value="9" {% if form.behavior.value == 9 %} selected {% endif %}>9</option>
                    <option value="10" {% if form.behavior.value == 10 %} selected {% endif %}>10</option>
              </select>
            </div>
          </div>

        </div>

        <div class="py-2"></div>

      <div class="row g-3">
        <div class="col">
          <div class="form-group">
            <label for="estimated_price" class="form-label"><strong>Precificação</strong></label>
            <input type="floatformat" id="estimated_price" name="estimated_price" value="{{form.estimated_price.value}}" class="form-control"/>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="date" class="form-label"><strong>Data</strong></label>
            <input type="date" id="date" name="date" class="form-control" required>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="notes" class="form-label"><strong>Notas</strong></label>
        <textarea type="text" id="notes" name="notes" class="form-control" rows="2">{{form.notes.value}}</textarea>
      </div>

      <div class="py-2"></div>

      <div class="form-group text-center">
          <input type="submit" value="Adicionar" class="btn btn-block btn-primary submit-btn"/>
      </div>

  </form>
</div>

{% endblock %}