{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'clients' %}">Clientes</a></li>
      <li class="breadcrumb-item active" aria-current="page">Atualizar Dados - Cliente</li>
    </ol>
  </nav>

{% include 'authentication/partials/_messages.html' %}

<div>
  <h3 class="d-inline">Atualizar Dados de <strong>Cliente</strong>: {{ object.first_name }} {{ object.last_name }}</h3>
  <a href="{% url 'delete_client_data' pk=object.pk %}" class="btn btn-danger ms-5">Deletar Registro</a>
</div>

<div class="py-2"></div>

<form action="" method="POST">
  {% csrf_token %}
  <div class="card center">
    <div class="card-body text-center">
      {{ form.as_p }}
      <div class="form-group text-center">
        <input type="submit" value="Atualizar Dados" class="btn btn-block btn-secondary submit-btn" />
      </div>
    </div>
  </div>
</form>

{% endblock %}