{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="py-2"></div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'contracts' %}">Contratos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Atualizar Dados - Contratos</li>
    </ol>
  </nav>

{% include 'authentication/partials/_messages.html' %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h3 class="d-inline">Atualizar Dados de <strong>Contrato</strong></h3>
  <a href="{% url 'delete_contract_data' pk=object.pk %}" class="btn btn-danger ms-5">Deletar Registro</a>
</div>

<div class="py-2"></div>


<div class="card" style="background: linear-gradient(to bottom, rgba(245, 245, 245, 0.80) 0%, rgba(210, 210, 225, 0.9) 100%);">
  <form action="{% url 'update_contract_data' pk=object.pk %}" method="POST" style="margin: 45px;">
      {% csrf_token %}

      <label for="clientContractDataList" class="form-label">Cliente</label>
      <input class="form-control" list="clientContractOptions" id="clientContractDataList" placeholder="Digite para pesquisar..." oninput="setClientId(this.value)">
      <input type="hidden" id="client_id" name="client_id">
      <datalist id="clientContractOptions">
        {% for client in clients %}
          <option data-value="{{client.id}}" value="{{client.lead_id.first_name}} {{client.lead_id.last_name}}"></option>
        {% endfor %}
      </datalist>

      <script>
        function setClientId(value) {
          var options = document.querySelectorAll('#clientContractOptions option');
          for (var i = 0; i < options.length; i++) {
            if (options[i].value === value) {
              document.getElementById('client_id').value = options[i].dataset.value;
              break;
            }
          }
        }
        </script>


      <div class="py-2"></div>

      <div class="row g-3">

        <div class="col">
          <div class="form-group">
            <label for="sector" class="form-label"><strong>Setor</strong></label><br>
            
              <div class="form-check form-check-inline">
                <label for="tec" class="form-check-label">Tecnologia</label>
                <input type="radio" id="tec" name="sector" value="Tecnologia" class="form-check-input" {% if form.sector.value == 'Tecnologia' %} checked {% endif %}>
              </div>
    
              <div class="form-check form-check-inline">
                <label for="civ">Construção Civil</label>
                <input type="radio" id="civ" name="sector" value="Civil" class="form-check-input" {% if form.sector.value == 'Civil' %} checked {% endif %}>
              </div>
    
              <div class="form-check form-check-inline">
                <label for="con">Consultoria</label>
                <input type="radio" id="con" name="sector" value="Consultoria" class="form-check-input" {% if form.sector.value == 'Consultoria' %} checked {% endif %}>
              </div>
          </div>
        </div>

  
        <div class="col">
        <div class="form-group">
            <label for="total_value" class="form-label"><strong>Valor Total</strong></label>
            <input type="floatformat" id="total_value" name="total_value" value="{{form.total_value.value}}" class="form-control"/>
        </div>
      </div>

      </div>

      <div class="py-2"></div>

      <div class="row g-3">

        <div class="col">
        <div class="form-group">
            <label for="n_of_services" class="form-label"><strong>Número de Serviços Incluídos</strong></label>
            <input type="number" id="n_of_services" name="n_of_services" value="{{form.n_of_services.value}}" class="form-control"/>
        </div>
      </div>
  
        <div class="col">
        <div class="form-group">
          <label for="date" class="form-label"><strong>Data de Assinatura</strong></label>
          <input type="date" id="date" name="date" class="form-control" required>
        </div>
      </div>

      </div>

      <div class="py-2"></div>

      <div class="row g-3">

        <div class="col">
        <div class="form-group">
            <label for="deadline" class="form-label"><strong>Prazo Final de Entrega</strong></label>
            <input type="date" id="deadline" name="deadline" class="form-control" required>
        </div>
      </div>
  
        <div class="col">
        <div class="form-group">
          <label for="contract_link" class="form-label"><strong>Link do Contrato</strong></label>
          <input type="text" id="contract_link" name="contract_link" value="{{form.contract_link.value}}" class="form-control" required>
        </div>
      </div>

      </div>

      <div class="py-2"></div>

      <div class="form-group">
        <label for="notes" class="form-label"><strong>Notas</strong></label>
        <textarea type="text" id="notes" name="notes" class="form-control" rows="2">{{form.notes.value}}</textarea>
      </div>

      <div class="py-2"></div>

      <div class="form-group text-center">
          <input type="submit" value="Adicionar" class="btn btn-block btn-primary submit-btn"/>
      </div>

    </form>
  </div>

{% endblock %}