{% extends 'authentication/base.html' %}
{% load static %}




{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-2">
                    <h3>Registre-se</h3>
                </div>
                <form action="{% url 'home' %}" method="POST">
                    <div class="form-group py-2">
                        <input
                            type="text"
                            name="Username" 
                            id="username" 
                            placeholder="Username"
                            class="form-control form-control-sm"
                         />
                    </div>
                    <div class="invalid-feedback invalid_feedback" style="display:none">
                        
                    </div>
                    <p class="text-sm text-success username-success"></p>
                    <div class="form-group py-2">
                        <input
                            type="email"
                            name="email" 
                            id="email" 
                            placeholder="Email (exemplo@ctjunior.com.br)"
                            class="form-control form-control-sm"
                         />
                    </div>
                    <div class="invalid-feedback emailFeedbackArea" style="display:none">
                        
                    </div>


                    <div class="form-group py-2">
                        <input
                            type="password"
                            name="password" 
                            id="password" 
                            placeholder="Senha (mín. 8 caracteres)"
                            class="form-control form-control-sm"
                         />
                    </div>
                    <div class="form-group">
                        <small class="float-left">SHOW</small>
                    </div>
                    <div class="form-group py-2 mx-auto col-3">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>



    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}